/* ============================ start global styles =============================== */
*{
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,blockquote{
margin: 0;
}
section, header, footer{
    padding-inline: 100px;
}

/* ============================ end global styles =============================== */

/* ============================ start header styles =============================== */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
header nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
header nav ul li a{
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}
/* ============================ end header styles =============================== */
/* ============================ start banner sectoin "banner" styles =============================== */
section.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./images/Object.png");
    justify-content: space-around;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
section.banner div:first-child h1{
    font-size: 120px;
    color: #fff;
    font-weight: 700;
}
section.banner > div:last-child,
section.banner > div:first-child{
    text-align: center;
    width: 100%;
}
section.banner div:first-child div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top:-20px;
    margin-bottom: 40px;
}
section.banner div:first-child div span{
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}
section.banner div:first-child button{
    text-align: center;
    background: #C271FF;
    border: 0;
    color: #fff;
    width: 162px;
    font-size: 14px;
    height: 44px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
section.banner div:first-child button:hover{
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
section.banner div:last-child h2{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}
section.videos_list h2 span,
section.banner div:last-child h2 span{
    color: #C271FF;
    font-weight: 700;
}
section.banner div:last-child .cards_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
section.banner div:last-child .cards_container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 5px;
}
section.banner div:last-child .cards_container  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
section.banner div:last-child .cards_container  p{
    font-style: italic;
}
/* ============================ end banner sectoin styles =============================== */
/* ============================ start quotes sectoin styles =============================== */
section.quotes{
    background-color: #C271FF;
    height: 392px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    color: #fff;
    padding-inline: 120px;
}
section.quotes div:last-child{
    max-width: 730px;
    font-size: 22px;
}
section.quotes div:last-child blockquote{
    margin-bottom: 30px;
    font-weight: 300;
}
section.quotes div:last-child h3{
    font-weight: 600;
}
section.quotes div:last-child p{
    font-style: italic;
    font-weight: 300;
}
/* ============================ end quotes sectoin styles =============================== */
/* ============================ start Videos list sectoin styles =============================== */
section.videos_list{
    padding-block: 87px;
    text-align: center;
    min-height: 624px;
}
section.videos_list h2{
    font-size: 32px;
    font-weight: 300;
    color: #071629;
    margin-bottom: 87px;
}
section.videos_list .video_cards_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.videos_list .video_card{
    margin-right: 20px;
    width: 255px;
    height: 335px;
    overflow: hidden;
    border-radius: 4px;
    padding: 0 10px;
    text-align: left;
    position: relative;
}
section.videos_list > div:last-child{
    margin-right: 0;
}
section.videos_list .video_card > img{
    width: calc(100% + 20px);
    height: 154px;
    margin-left: -10px;
}
section.videos_list .video_card > #playBTN{
    background: url('./images/play.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
}
section.videos_list .video_card h3{
    font-size: 16px;
    font-weight: 700;
    color: #071629;
    margin-block: 8px;
}
section.videos_list .video_card > p{
    font-size: 14px;
    font-weight: 500;
    color: #07162983;
}
section.videos_list .video_card > div{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0 10px;
    width: max-content;
}
section.videos_list .video_card > div:not(.stars){
    margin-block: 10px;
}
section.videos_list .video_card div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
section.videos_list .video_card div h4{
    font-size: 14px;
    font-weight: 600;
    color: #C271FF;
}
section.videos_list .video_card div div {
    width: max-content;
}
section.videos_list .video_card div div i {
    font-size: 15px;
    color: #C271FF;
}
section.videos_list .video_card div div:last-child i {
    color: #979797;
}
section.videos_list .video_card > p:last-child {
    font-size: 14px;
    font-weight: 600;
    color: #C271FF;
    display: inline-block;
    width: max-content;
    float: right;
    margin: 5px 0 10px;
}
/* ============================ end Videos list sectoin styles =============================== */
/* ============================ start membership  sectoin styles =============================== */
section.membership{
    background-color: #071629;
    color: #fff ;
    padding-block: 87px;
    height: 502px;
    min-height: max-content;
}
section.membership h2{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}
section.membership h2 span{
    font-weight: 700;
    color: #C271FF;
}
section.membership .membership_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
section.membership .membership_cards div{
    width: 257px;
    height: 153px;
    margin-right: 30px;
    text-align: center;
}
section.membership > div h3{
    font-size: 18px;
    font-weight: 600;
    margin-block: 20px;
}
section.membership > div p{
    font-size: 14px;
    font-weight: 500;
    margin-block: 0;
}
section.membership button{
    text-align: center;
    background: #C271FF;
    border: 0;
    color: #fff;
    width: 162px;
    font-size: 14px;
    height: 44px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    display: block;
}
section.membership button:hover{
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
/* ============================ end membership sectoin styles =============================== */
/* ============================ start FAQ sectoin styles =============================== */
section.FAQ{
    padding-block:64px 84px ;
}
section.FAQ h2{
    font-size: 60px;
    font-weight: 300;
    color: #071629;
    margin-bottom: 74px;
    text-align: center;
}
section.FAQ .FAQ_cards_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 74px 220px;
}
section.FAQ .FAQ_cards_container .FAQ_card{
    width: calc(50% - 220px);
    min-width: 350px;
}
section.FAQ .FAQ_cards_container .FAQ_card h3{
    font-size: 16px;
    font-weight: 700;
    color: #071629;
    margin-bottom: 30px;
}
section.FAQ .FAQ_cards_container .FAQ_card > div:last-child{
    font-size: 14px;
    font-weight: 500;
    color: #0716297c;
}
/* ============================ end FAQ sectoin styles =============================== */
/* ============================ start Footer sectoin styles =============================== */
footer{
    background-color: #071629;
    padding-block: 95px 39px;
    height: 249px;
}
footer section{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
footer section > div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
footer section > div > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
footer section > div > div i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #071629;
    font-size: 14px;
    text-align: center;
    padding: 8px;
}
footer section > p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
/* ============================ end Footer sectoin styles =============================== */
